#!/usr/bin/make -f

l10npkgs_firstversion_ok := 4:16.04.3-5~

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk
include /usr/share/pkg-kde-tools/qt-kde-team/2/l10n-packages.mk

DEB_VERSION_UPSTREAM_REVISION := $(shell dpkg-parsechangelog | awk '/^Version: / { print $$2 }' | sed -e 's/^[0-9]*://')

override_dh_auto_install:
	$(overridden_command) --destdir=debian/kde-spectacle

override_dh_gencontrol:
	$(overridden_command) -pksnapshot -- -v4:$(DEB_VERSION_UPSTREAM_REVISION)
	$(overridden_command) --remaining-packages
